.casts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.cast-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  margin: 10px 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.cast-card:hover {
  transform: scale(1.05); 
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); 
}

.cast-card:active {
  transform: scale(0.98); 
}

.cast-card-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cast-card-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}

.cast-card-character {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
}

.cast-card-edit-btn,
.cast-card-delete-btn {
  background-color: rgb(120, 225, 242);
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.cast-card-edit-btn {
  background-color: #008CBA;
}

.cast-card-edit-btn:hover {
  background-color: rgb(120, 225, 242);
}

.cast-card-delete-btn {
  background-color: rgb(120, 225, 242);
}

.cast-card-delete-btn:hover {
  background-color: #008CBA;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: rgb(120, 225, 242);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: rgb(120, 225, 242);
}

.button-Import {
  background-color: #008CBA;
}

.button-Import:hover {
  background-color: rgb(120, 225, 242);
}

.button-Add {
  background-color: rgb(120, 225, 242);
}

.button-Add:hover {
  background-color: #007B9E;
}

.imported-cast-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.imported-cast-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  margin: 10px 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.imported-cast-card:hover {
  transform: scale(1.05); 
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.imported-cast-card:active {
  transform: scale(0.98); 
}

.imported-cast-img {
  width: 100%;
  border-radius: 10px;
}

.imported-cast-card h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}

.imported-cast-card h4 {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
}

.imported-cast-card button {
  background-color: rgb(120, 225, 242);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.imported-cast-card button:hover {
  background-color: #45a290;
}

.button-Add, .button-Import {
  margin-right: 20px; 
  margin-bottom: 10px; 
}
